@page "/admin/menuitem/edit/{id:int}"
@using TheRestaurant.Presentation.Client.Components.Admin.MenuItemCrud;
<h3>Edit</h3>
<EditMenuItem Id="@Id"/>
@code {
    [Parameter]
    public int Id { get; set; }
}
