
<MudPaper Height="400px" Width="25%">
    <MudContainer>
        <MudPaper Height="400px" Width="400px" Square="true" Class="mud-theme-primary">
            <h1>
                Boka bord
            </h1>
        </MudPaper>
    </MudContainer>
</MudPaper>

@code {

}
