@using MudBlazor
@using TheRestaurant.Presentation.Client.ClientServices
@inject ClientMenuService MenuService
@inject ServerAuthenticationStateProvider AuthState

@if (NrOfItemsInCart > 0)
{
    <span>@NrOfItemsInCart</span>
    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart"
                   Color="@Color.Primary"
                   Href="/Cart" />
}


@code {
    private int NrOfItemsInCart;

    protected override async Task OnInitializedAsync()
    {
        NrOfItemsInCart = await MenuService.NrOfItemsInCart();
        MenuService.CartUpdated += OnCartUpdated;
    }

    private async void OnCartUpdated()
    {
        NrOfItemsInCart = await MenuService.NrOfItemsInCart();
        StateHasChanged();
    }

    private void DisposeEvents()
    {
        MenuService.CartUpdated -= OnCartUpdated;
    }
}