@page "/Admin/CategoryList"
@using TheRestaurant.Contracts.DTOs
@using MudBlazor
@using TheRestaurant.Presentation.Client.Components;
@using TheRestaurant.Presentation.Client.Shared.Admin
@inject HttpClient HttpClient

<AdminLayout>
    <AdminContent>
        <MudGrid Spacing="2" Justify="Justify.Center">

            <MudItem xs="12">

                <div class="px-3 mb-5">

                    <div class=" d-flex justify-content-between mb-3">
                        <h3>Kategorier</h3>

                        <a class="btn btn-outline-success" href="/Admin/AddCategory">Lägg till</a>
                    </div>


                    @if (categories != null)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Namn</th>
                                    <th>Är Aktiv</th>
                                    <th>Inställningar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in categories)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        @if (item.IsDeleted)
                                        {
                                            <td>Nej</td>
                                        }
                                        else
                                        {
                                            <td>Ja</td>
                                        }

                                        <td>
                                            <a class="btn btn-sm btn-outline-warning" href="/Admin/EditCategory/@item.Id">Redigera</a>
                                            @if (item.IsDeleted)
                                            {
                                                <a class="btn btn-sm btn-outline-success mx-1" href="/Admin/ActiveCategory/@item.Id">Aktiv</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-sm btn-outline-danger mx-1" href="/Admin/InactiveCategory/@item.Id">Inaktiv</a>
                                            }
                                            <a class="btn btn-sm btn-danger d-none" href="/Admin/DeleteCategory/@item.Id">Radera</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            No Data
                        </div>
                    }

                </div>
                <br />
                <br />

            </MudItem>

        </MudGrid>
    </AdminContent>
</AdminLayout>

@code {
    private CategoryDto[] categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await HttpClient.GetFromJsonAsync<CategoryDto[]>("api/Category");
    }

}

