@page "/Admin/InactiveCategory/{CategoryId:int}"

@using TheRestaurant.Contracts.DTOs;
@using MudBlazor
@using TheRestaurant.Presentation.Client.Components;
@using TheRestaurant.Presentation.Client.Shared.Admin
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager;



<AdminLayout>
    <AdminContent>
        <MudGrid Spacing="2" Justify="Justify.Center">

            <MudItem xs="12">

                <div class="px-3 d-none">
                    <h3 class="mb-5">Inaktivera kategori</h3>

                    <h5>Är du säker på att du vill inaktivera "@categoryDto.Name" kategori? </h5>

                    <div class="w-100 ">
                        <a class="btn btn-sm btn-success" href="Admin/CategoryList">Nej</a>
                        <a class="btn btn-sm btn-danger" onclick="@Inactive">Ja</a>
                    </div>

                </div>

            </MudItem>

        </MudGrid>
    </AdminContent>
</AdminLayout>



@code {
    [Parameter]
    public int categoryId { get; set; }

    public CategoryDto categoryDto = new();

    protected override async Task OnInitializedAsync()
    {

        categoryDto = await HttpClient.GetFromJsonAsync<CategoryDto>($"/api/Category/{categoryId}");
        categoryDto.IsDeleted = true;
        await HttpClient.PutAsJsonAsync($"/api/Category/{categoryId}", categoryDto);
        NavigationManager.NavigateTo("/Admin/CategoryList");
    }


    protected async Task Inactive()
    {
        categoryDto.IsDeleted = true;
        await HttpClient.PutAsJsonAsync($"/api/Category/{categoryId}", categoryDto);
        NavigationManager.NavigateTo("/Admin/CategoryList");
    }
}
