@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http
@using Blazored.LocalStorage;
@using System.Text.Json
@using System.Text
@using TheRestaurant.Contracts.Requests.Authentication
@using TheRestaurant.Presentation.Client.Components.Authentication.Login.DTO
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<style>
    .form {
        padding-left: 25px;
    }
</style>

@if (Error)
{
    <p>ErrorMessage</p>
}

<div class="form">
    <EditForm Method="Post" Model="_login" OnSubmit=@Login_User>
        <DataAnnotationsValidator />

        <div class="form-group">
            <label class="control-label col-md-2">Mail</label>
            <div class="col-md-3">
                <InputText 
                    class="form-control"
                    @bind-Value="_login.Email"
                    />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Lösenord</label>
            <div class="col-md-3">
                <InputText type=password
                           class="form-control"
                           @bind-Value="_login.Password"
                />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3 text-right esh-button-actions">
                <button 
                    type="submit"
                    class="btn esh-button esh-button-primary">
                    [ Login ]
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private readonly LoginDto _login = new LoginDto();

    private bool Error;
    private string ErrorMessage;

    private async Task Login_User()
    {
        var request = new LoginRequest(
            Email: _login.Email,
            Password: _login.Password);

        var json = JsonSerializer.Serialize(request);

        var apiUrl = "/auth/login";

        var content = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await HttpClient.PostAsync(apiUrl, content);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();

            await LocalStorage.SetItemAsync("authToken", token);

            if (NavigationManager.Uri.Contains("login"))
            {
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            Error = true;
            ErrorMessage = "Det gick inte att logga in.";
        }
    }



}
