@using MudBlazor;

<MudGrid Justify="Justify.Center">
    <MudItem>
        <div style="position: relative;">
            <MudImage Src="/css/images/restaurantstock.jpg"
                      style="width: 100%; height: 100%;"
                      ObjectFit="@ImageFit"
                      Alt="Restaurant" />
                      <TextBox 
                          Title="Titta in.."
                          Text =
                          "Vilka fina lokaler vi har.." />
        </div>
    </MudItem>
</MudGrid>

@code {
    ObjectFit ImageFit = ObjectFit.None;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }
}
