@using MudBlazor;

<MudGrid Justify="Justify.Center">
    <MudItem>
        <div style="position: relative;">
            <MudImage Src="/css/images/dish.jpg"
                  style="width: 100%; height: 100%;"
                  ObjectFit="@ImageFit"
                      Alt="Dish" />
                   <TextBox
                        Title="Och vilken mat.."
                        Text =
                        "Den smakar bäst i stan!" 
                    />
        </div>
    </MudItem>
</MudGrid>


    
   

   
     
@code {
    ObjectFit ImageFit = ObjectFit.Contain;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }
}