@page "/admin/product/edit/{id:int}"
@using TheRestaurant.Presentation.Client.Components.Admin.ProductCrud;
<h3>Edit</h3>
<EditProduct Id="@Id"/>
@code {
    [Parameter]
    public int Id { get; set; }
}
